.lead {
  font-size: 1.25rem;
}

.container {
  max-width: 38rem;
  padding: 1rem 1.5rem 0.5rem;
  margin-left:  auto;
  margin-right: auto;
}

.masthead {
  &-title {
    font-weight: 300;
    margin-bottom: 30px;
    padding-top: 30px;
    
    a {
      color: #000;
      font-size: 1.7rem;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    span {
      color: #ddd;
    }

  }

  .masthead-nav {

    a {
      color: #595959;
      font-weight: 300;
      text-transform: lowercase;
      -webkit-transition: all .2s ease;
         -moz-transition: all .2s ease;
              transition: all .2s ease;

      &:hover,
      &:focus {
        color: #333;
        text-decoration: none;
      }

      + a {
        margin-left: .25rem;
      }
    }
  }

}

.page {
  &-title {
    margin-bottom: 2rem;
  }
}

.post {
  &-title {
    padding-top: 30px;
  }
  &-date {
    font-size: .75rem;
    height: 30px;
    line-height: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
}

.list {
  &-post-title {
    margin-bottom: .25rem;

    a {
      color: #333;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
  &-post-date {
    margin-bottom: 1rem;
    font-size: .75rem;
    text-transform: uppercase;
  }
}

.projects-list {
  a {
    color: #333;
  }
}

.page {
  float: left;
  height: 100%;
  margin: 0 2.5%;
  position: relative;
  width: 45%;

  &__lines {
    background: linear-gradient(to bottom,white 29px,#00b0d7 1px);
    background-size: 100% 30px;
    min-height: 100%;
    padding: 0 0 3%;

    h2 {
      padding-top: 29px;
    }
  }

  a {
    &:hover {
      background: rgba(255,228,181, .7);
      text-decoration: none;
    }
  }
}

.page--right {
  padding: 0 3% 0 0;
  overflow-y: auto;
}

#disqus_thread {
  background: white;
  margin-top: 30px;
}

@media screen and (max-width: 1000px) {
  .page {
    float: none;
    height: auto;
    margin: 0;
    padding: 0 5%;
    width: 100%;
  }
}